# Dependencies
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/

# Environment
.env
.env.*
.env.example
frontend/.env.example
backend/.env.example
backend/.env.example.email

# Logs
*.log


# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db
